

/* (B) HORIZONTAL MENU ITEMS */
li {
    color: #26262c;
    display: inline;
    text-align: center;
    padding: 15px 15px 15px 15px;
  }
  
  blockquote{
    font-family: Garamond, serif;
    font-size: 14 px;
  }
  
  .container {
    display: grid;
    grid-template-columns: 30% 70%;
    grid-template-rows: 20% 10% 60% 10%;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
      "Header Header"
      "Navigation Navigation"
      "Image Content"
      "Footer Footer";
  }
  /* header styling*/
  .Header { grid-area: Header; 
      background-color:  #527A52;
      color: #FDD8DE;
      font-family: 'Lucida Handwriting', cursive;
      text-size-adjust: 70%;
      text-align: left;
    }
  
  .Navigation { grid-area: Navigation; 
    background: #93DB70;
    font-color: #26262c
    padding: 15px 15px 15px 15px;
    font-size: 150%;
    text-align: center;
  }
  
  .Image { grid-area: Image;
    background-color: #93DB70;
  padding: 5%;
  align: left;
}
  
  .Content { grid-area: Content;
    background-color: #93DB70 
  margin-left: 2em;
  font-size: 18px;}
  
  .Footer { grid-area: Footer;
      background-color: #93DB70;
     text-align: center;
      border: 5px solid #93DB70;
      padding: 1%;
      margin: auto;
    }
  
  
  html, body , .container {
      background-color: #93DB70;
    height: 100%;
    margin: 0;
  }
    
  